.background{
    background-color: #FAF2E0
}

.background-yellow-stripe{
    color: #F3CB56
}

.background-orange-stripe{
    color: #DD8624
}


.background-red-stripe{
    color: #C43A0E
}

.background-blue-stripe{
    color: #224A6D
}

.background-blue-stripe{
    color: #112545
}