@model IList<BlogWebsite.Core.BusinessObjects.Category>
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        @if (Model.Count > 0)
        {
            @foreach (var category in Model)
            {
                <a class="p-2 text-muted" href="#">@category.Name</a> @*href - apply route & link to sort by category, implement Html.CategoryLink*@
            }
        }
    </nav>
</div>