@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<header class="blog-header py-3">
    <div class="row">
        <div class="col-4 text-left">
            <a class="blog-header-logo text-dark" asp-action="home"
               asp-controller="blog">@Localizer["Website generic title"]</a>
        </div>
        <div class="col-6 float-right">
            @*<a class="text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5" /><path d="M21 21l-5.2-5.2" /></svg>
                </a>*@

            <form class="form-inline md-form form-sm mt-0" asp-controller="Blog" asp-action="Search" method="get">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="@Localizer["Search"]"
                       aria-label="@Localizer["Search"]" name="s">
                @*<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5" /><path d="M21 21l-5.2-5.2" /></svg>*@
            </form>
        </div>
    </div>
</header>