@await Component.InvokeAsync("FeaturedPostJumbotron", new { })
    <div class="row mb-2">
        @await Component.InvokeAsync("FeaturedPostBox", new { })
        @await Component.InvokeAsync("FeaturedPostBox", new { })
    </div>