<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="~/css/blog.css" rel="stylesheet" />
    <title>Blog Website</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .media (min-width: 768px) {
            .bd-placeholder-img-lg
        {
            font-size: 3.5rem;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <partial name="_Header" />
  
        @await Component.InvokeAsync("Scroller", new { })

        @if (ViewBag.IsHome != null && (bool)ViewBag.IsHome)
        {
            <partial name="_Home" />
        }

    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                @RenderBody()
            </div>

            @await Component.InvokeAsync("Sidebar", new { })

        </div>
    </main>
    <partial name="_Footer" />
</body>