@model BlogWebsite.Models.ListViewModel
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">

            @if (Model.Posts.Count > 0)
            {
                foreach (var post in Model.Posts)
                {
                    @Html.Partial("_PostPreview", post)
                }
            }
            else
            {
                <p>No posts found!</p>
            }

        </div><!-- /.blog-main -->
    </div><!-- /.row -->
</main><!-- /.container -->