@model BlogWebsite.Models.ListViewModel

    <h3 class="pb-4 mb-4 font-italic border-bottom">
        Latest posts
    </h3>

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostPreview", post)
        }
    }
    else
    {
        <p>No posts found!</p>
    }

@Html.Partial("_Pagination", Model)